# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build/
.gradle

# local secrets
.env
.env.*
!.env.example

# local runtime data
eclipse
/run/
/run-data/
/run[0-9]*/
src/generated
/libs/
changelog.txt

# Files from Forge MDK
forge*changelog.txt
